# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv
ENV/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# Logs
*.log

# Distribution / packaging
*.egg-info/
dist/
build/

# Big models
*.pt

# Generated proto files
filter/generated/
*.pb2.py
*.pb2_grpc.py
*.pb2.pyi

#mcp-debug tools
.mcp-debug-tools/
