@import "tailwindcss";

@theme {

  --color-top: #e38d26;    /* Rich Golden Orange */
  --color-bottom: #f7e9c1; /* Warm Oatmeal */
  
  /* UI Elements */
  --color-brand-deep: #3f0345;  /* Deep purple for contrast */
  --color-brand-accent: #fcd34d; /* Bright Golden Halo */
}

@layer base {
  body {
    @apply antialiased m-0 p-0 overflow-hidden;
    /* Vertical Gradient */
    background: linear-gradient(to bottom, var(--color-top), var(--color-bottom));
    min-height: 100vh;
  }
}

.theme-dark {
  background: linear-gradient(to bottom, #20022bfd, #1a011d) !important;
  --dynamic-text: #ffffff;
  --dynamic-card: rgba(255, 255, 255, 0.05);
  --dynamic-border: rgba(255, 255, 255, 0.1);
}

:root {
  --dynamic-text: var(--color-brand-deep);
  --dynamic-card: rgba(255, 255, 255, 0.15);
  --dynamic-border: rgba(255, 255, 255, 0.3);
}

body {
  transition: background 0.4s ease;
}
