# Application
APP_NAME=SentinelAI
APP_VERSION=1.0.0
DEBUG=False

# Server
HOST=0.0.0.0
PORT=8000

# Database (if needed)
DATABASE_URL=postgresql+psycopg://postgres:password@pgvector:5432/sentinelai

#GRPC
GRPC_SECRET=secret_grpc_key_here

#Frontend
FRONTEND_URL=https://sentinelai.work

#AI_service
AI_SERVICE_URL=http://ai_service:8001/analyze

#BASE_URL=https://tenantable-sparkle-overreservedly.ngrok-free.dev
BASE_URL=https://sentinelai.work

# API Keys / Secrets
# API_KEY=your_api_key_here
# SECRET_KEY=your_secret_key_here
SLACK_SIGNING_SECRET=secret
SLACK_CLIENT_ID=10330652444307.10420712164756
SLACK_CLIENT_SECRET=secret
SLACK_REDIRECT_URI=${BASE_URL}/slack/oauth/callback
#SLACK_REDIRECT_URI=https://sentinelai.work/slack/oauth/callback




GMAIL_CLIENT_ID=1068711223535-rggidbl9tasjf40qba6q7qoqghfaossl.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=secret
GMAIL_PUBSUB_TOPIC=projects/gmailwebhooktest/topics/GmailWebhookTest
GMAIL_REDIRECT_URI={BASE_URL}/gmail/oauth/callback
#GMAIL_WEBHOOK_ENDPOINT=https://tenantable-sparkle-overreservedly.ngrok-free.dev/gmail/events
GMAIL_WEBHOOK_ENDPOINT=${BASE_URL}/gmail/events
