# API service
DATABASE_URL=postgresql+asyncpg://postgres:your_db_password_here@pgvector:5432/sentinelai
SECRET_KEY=generate-a-random-string-here
DATABASE_URL_SYNC=postgresql+psycopg://postgres:your_db_password_here@pgvector:5432/sentinelai
